<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security</title>
</head>
<body>

<h1>Hello Manager!</h1>

<!--<p th:inline="text">-->
<!--    You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>-->
<!--    (<a href="/logout">logout</a>)-->
<!--</p>-->
<!--<p th:inline="text">-->
<!--    You are logged as: <b>[[${#authentication.getPrincipal().username}]]</b>-->
<!--    (<a href="/logout">logout</a>)-->
<!--</p>-->
<!--<p th:inline="text">-->
<!--    <b>[[${#authentication.getPrincipal().authorities}]]</b>-->
<!--</p>-->

</body>
</html>